@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-left: -25px;
    text-color: white;
}
.navigator1 {
    margin-left: 500px;
    gap:25px;
}
.main3  {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 25px
}
main button {
    background: #2196F3;
    color: #fff;
    border: 6px hidden;
    border-radius: 4px;
    padding: 1rem 1.5rem;
    margin-bottom: 1rem;

}
.photo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 75px;
    gap: 100px;
    margin-top: 100px;
}
main h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
main h3 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.photo2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
footer  {
    width: 1600px;
    height: 252px;
    background: #2F303A;
    color: #FFFFFF;
    margin-left: unset;
}
.footer1 {
    font-size: 25px;
    color: #FFFFFF;
}
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1600px;
    height: 600px;
    font-size: 44px;
    gap: 15px;
    text-align: center;
    background: #2F303A;
}
.main3 {
    color: #FFFFFF;
}
.button2 {
    position: relative;
    top: 120px;
    left: -460px;
    gap: 0px;
    border-radius: 4px 0px 0px 0px;
    opacity: unset ;
}
footer p {
    padding: 0px 0px 0px 250px;
}
.div-text{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-align: left;!important;
    width: 300px;
    height: 98px;
}
.section-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: unset;
}
.section-text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}
.important{
    display: flex;
    justify-content: space-between;
    margin-left: 150px;
    margin-top: 93px;
    margin-bottom: 95px;
}
.important {
    flex-direction: row;
    gap: 10px;

    margin: 150px 100px;
}
.div{
    background-color: var(--gray-color);
    width: 100%;
    height: 400px;
}
.artical-text > p {
    font-size: 14px;
    color: #757575;
}