@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
header {
    margin: 10px;

}
a {
    color: black;
    text-decoration-line:none;
}
li {
    list-style-type: none;
}
.header-conteiner{
    background-color: #ffffff;
    height: 80px;
    width: 100%;
    display: flex;
    margin: 0 auto;
    padding: 0 15px;
    justify-content: space-around;
    align-items: center;
}
.header-logo{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Raleway';
    display: flex;
    align-items: center;
    margin-left: 170px;
    transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-logo:hover{
    transform: scale(1.2);
}
span {
    color: #2196F3;
}
.header-nav{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.header-menu{
    display: flex;
    margin-right: 240px ;
}
.header-menu2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}
.menu-item {
    margin-right: 50px ;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.menu-link {
    letter-spacing: 2%;
    font-weight: 500;
    font-size: 14px ;
    transition: 400ms ;
    transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-link:hover{
    color: #2196F3;
}
.menu-link::after{
    content: "";
    height: 4px ;
    border-radius: 2px;
    width: 100%;
    position: absolute;
    background-color: #2193F3;
    top: 32px;
    left: 0;
    transform: scaleX(0);
    transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-link:hover::after{
    transform: scaleX(1);

}
.main3  {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 25px;
    color: #FFFFFF;
}
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1423px;
    height: 600px;
    margin-left: 0;
    font-size: 44px;
    gap: 15px;
    text-align: center;
    background: #2F303A;
}
main button {
    background: #2196F3;
    color: #fff;
    border: 6px hidden;
    border-radius: 4px;
    padding: 1rem 1.5rem;
    margin-bottom: 1rem;
}
main h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
main h3 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.photo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 75px;
    gap: 100px;
    margin-top: 100px;
}

.photo2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
footer  {
    width: 1423px;
    height: 252px;
    background: #2F303A;
    color: #FFFFFF;
    margin-left: unset;
}
.btn {
    position: relative;
    top: 120px;
    left: -460px;
    gap: 0px;
    border-radius: 4px 0px 0px 0px;
    opacity: unset ;
}
.btn:hover{
    opacity: 0.7;
}
.div-text{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-align: left;
    width: 300px;
    height: 98px;
}
.section-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: unset;
}
.section-text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}
.important{
    display: flex;
    justify-content: space-between;
    margin-left: 150px;
    margin-top: 93px;
    margin-bottom: 95px;
}
.important {
    flex-direction: row;
    gap: 10px;

    margin: 150px 100px;
}
.div{
    background-color: var(--gray-color);
    width: 100%;
    height: 400px;
}
.artical-text > p {
    font-size: 14px;
    color: #757575;
    text-align: left;
}
.footer-text-title {
    font-size: 25px;
    color: #FFFFFF;
    padding-top: 35px;
    padding-left: 175px;
}
.footer-title{
    font-size: 26px;
    font-family: Raleway;
    font-weight: 700;
}
.footer-text{
    font-size: 14px;
    font-weight: 400;
}
.footer-text1{
    color: #ffffff55;
    font-size: 14px;
    font-weight: 400;
}
.text-title{
    width: 231px;
    height: 81px;
}


