*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    text-decoration: none;
    background: transparent;
}
section {
    display: flex;
    width: 100%;
}
body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
}
header{
    width: 100%;
    height: 60px;
    max-height: 60px;
    margin-bottom: 22px;
}
.logo_header{
    font-family: "Raleway", sans-serif;
    width: 145px ;
    height: 31px ;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: bold;
    margin: 24px 0 25px 10px;
    color: #2196F3;
    font-size: 24px;
    transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo_header:hover{
    transform: scale(1.2);
}
.span_logo{
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    color: #212121;
}
nav {
    display: flex;
    align-items: center;
    gap: 50px;
    margin: 32px 0 32px 25px;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #212121;
}
.contacts{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 50px;
    padding: 32px 0 32px 334px;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #757575;
}
.menu-link{
    color: #212121;
}
.menu-link:hover{
    color: #2196F3;
}
.hero{
    display: flex;
    width: 100%;
    height: 600px;
    background-color: #2F303A;
}

.hero .container {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    height: 100%;
}
.hero .container h1{
    font-family: Roboto, sans-serif;
    color: #FFFFFF;
    font-size: 44px;
    font-weight: 900;
    flex-direction: column;
    text-align: center;
    max-width: 635px;
    text-transform: uppercase;
}
.hero .container button{
    width: 216px;
    height: 50px;
    background-color: #2196F3;
    color: #FFFFFF;
    border: 1px solid #2196F3;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 600;
    line-height: 187%;
    letter-spacing: 0.06em;
    text-align: center;
}
.text_title{
    display: flex;
    width: 100%;
    padding-top: 94px;
}
.text_title .container {
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
.text-all{
    display: flex;
    width: 100%;
    font-size: 14px;
    gap: 30px;
}
.text > p{
    color: #757575;
    margin-top: 10px;
}
.text > h4{
    color: #212121;
    font-weight: bold;
}
.what_we_do{
    width: 100%;
    display: flex;
    margin-top: 94px;
}
.what_we_do .container{
    flex-direction: column;
    text-align: center;
}
.what_we_do_slider{
    display: flex;
    gap: 30px;
    margin-top: 50px;
}
.our_team{
    width: 100%;
    display: flex;
}
.our_team .container{
    flex-direction: column;
    text-align: center;
    margin-top: 188px;
}
.our_team .container > h4 {
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #212121;
    margin-bottom: 50px;
}
.our_team_slider{
    display: flex;
    justify-content: space-between;
    margin-bottom: 94px;
}
.card > img{
    width: 270px;
    height: 260px;
}
.our_team .our_team_slider .card > p {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #757575;
    margin-top: 10px;
}
.our_team .our_team_slider .card > h5 {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #212121;
    margin-top: 30px;
}
.footer{
    display: flex;
    background-color: #2F303A;
    height: 252px;
}
.footer .container{
    width: 100%;
    align-items: flex-start;
    flex-direction: column;
    padding-top: 60px;
}
.footer .container > a{
    margin-bottom: 20px;
}
.footer .container a > span{
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
    color: #2196f3;
}
.footer .container > a{
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.info_footer{
    display: flex;
    flex-direction: column;
    gap: 9px;
}
.info_footer > h6{
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color: #fff;
}
.info_footer > a{
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.footer_logo{
    transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer_logo:hover{
    transform: scale(1.2);
}
